@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

.activee{
  position: absolute;
  top: 50%;
  left: 25%;
}
.activee.moving {
  left: 2%;
  

}




#chatbottonn{
  color: red;
}

.seachbluetick{
   margin-top: 8px;
}

.hbt{
 display: flex;
 margin-top: 2px;
}

.usbt{
  display: flex;
}
.usbhw{
  margin-top: 2px;
font-size: 15px;

}

.usb{
height: 20px;
margin-bottom: 3px;
}

.gurudevtick{
  margin-top: 3px;
  height: 10px;
  width: 10px;
}



.searchd{
  background: linear-gradient(to top right, #210661, #0e9271);
}





.dazzlonelogin{
  height: 40px;
  width: 40px;
  
margin-top: 10px;
margin-bottom: 30px; 
margin-left: 76px; 

}

.dazzlonesignup{
  height: 40px;
  width: 40px;
  
margin-top: 10px;
margin-bottom: 30px; 
margin-left: 111px;
}



.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e4e4e4 rgba(255, 255, 255, 0);
}

.scrollbarDark {
  scrollbar-width: thin;
  scrollbar-color: #4d4d4d rgba(255, 255, 255, 0);
}

#sendMessage{
  margin-right: 6px;
  font-size: 15px;
}




.profilephotodesign{
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 20px rgb(60, 61, 61);
}

.usernamedesign{
  font-family: sans-serif-condensed; font-weight: bold
}

.messagenamedesign{
  font-family: sans-serif-condensed; font-weight: bold
}

.messagebordedesign{
  height: 540px;
}

.usertotalkdesign{
  font-family: sans-serif-condensed; font-weight: bold
}

.storyshow{
  width: 100px;
}

.homepostname{
  font-family: sans-serif-condensed; font-weight: bold
}

.dazzle{
 height: 30px;
width: 30px;
display: flex;
gap: 9px;
font-family: sans-serif-condensed; font-weight: bold;
color: #e6e6e6;
margin-left: 2px;
font-size: 19px;
}

.loginone{
  width: 800px;

}


.logintwo{
  width: 7000px;
  height: 1100px;
  
}
.loginthree{
  width: 700px;
  margin-top: 100px;
}

.loginfour{
  border-radius: 20px;
 
}

.loginfive{
  border-radius: 20px;
}



.signupone{
  
width: 800px;
}
.signouttwo{
  width: 7000px;
  height: 1100px;
  gap: 60px;
}

.signoutfive{
  border-radius: 20px;
}
.signoutsix{
  border-radius: 20px;
}
.signoutseven{
  border-radius: 20px;
}




.dazzlonename{
  font-size: 50px;
  font-family: sans-serif-condensed; font-weight: bold;
}





/* For Chrome, EDGE, Opera, Others */
.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollbar::-webkit-scrollbar-track { 
  background: rgba(255, 255, 255, 0);
}

.scrollbarLight::-webkit-scrollbar-thumb { 
  background: #e4e4e4;
  border-radius: 10px;
  border-radius: 10px;
}

.scrollbarDark::-webkit-scrollbar-thumb { 
  background: #4d4d4d;
  border-radius: 10px;
  border-radius: 10px;
}
/* new css */
@import url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAMAAzAMBEQACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABgcCBAUDAQj/xABHEAABAwMABQgGBwYDCQEAAAABAAIDBAURBhIhMUEHE1FhcYGRoRQiMlKxwRUzNUJictEjU3OCkqIkNPAXQ0WDk6OywuEW/8QAGgEBAAIDAQAAAAAAAAAAAAAAAAEEAgMFBv/EAC0RAQACAgICAQMEAQMFAAAAAAABAgMRBDESIUETIlEyYXGRBRRC8CMzgaGx/9oADAMBAAIRAxEAPwDkroOSICAgICAgIACDNkbnbgo2nTaipHP+6o2mIblPa5ZjiKN7yODWk/BY2vFY3MsopM9N5mjle4ZFJL3tIWqeTij/AHR/bOMVvwwl0erY25dSzD/lkqY5GOerR/ZOK0dw58tA5pILSCN4W7yYTVqSU7m8CpiWMw8HNx1KWLFAQEBAQEBAQEBAQEBAQEBB9aMolsQQF53KJlMQkdk0eqLgRzbNWPjI7cP1VXPyaYo+7+m7HhmyZ27Ri30mDI3n5Pxj1fD9VycvPy39V9Qu0wVr27TI2RMDI2NY0bg0YCpTabTuZb4iI6fVCX1ENepo6aqbq1FPHIOGs3aO/eFsx5smOftljalZ7hHLpohFK1zqF2q79287O4/qujh/yM71k/tWvxon9KE3C2S0sj45YnMeOBXVpki8br0p2rMepcqSIt3rY1vJSgQEBAQEBAQEBAQEBAQANqJbVNDruCiZTEJpoto56XioqwW043DcXn9FzuXzIxR4192/+LeHD5e7J1EyOKNscTQxjdgaFw7Wm07ld1pkdgJ6OlQycG76ZaO2dzmV92p2ygZMTHa7/wCluSttcN7dQOBJytaMN2MNdLj7zaVw/wDLC2f6XInUtml5UtE6hzWOrZoXH9/TSNHe7GAsZ4uSEe0ptl1t11i52210FUw8YpA5appavcDcWI0bpbKe5wGKduHAerIN7VvwZ74bbq15Mdbx7VrfLRLQTvimaAcZBG5w6V6DBmplr5Vc7Jjms+3AlZqEre0vNSgQEBAQEBAQEBAQEBB6wt1nJKUo0Xs5r6trD9W31nnoH/1U+VyIw49/PwsYcc2ssuKNkbGsjADGjAA4BedmZtO5dGI1Goa9zuFLa6CeurpWw00LC6R54D5ngAlYm06hkojS/lAuukczqekdLRW4nDIIiecf+cjeeobO1dHHhrSN/LKKtWzaCXW4MEkwjoIDt1pWkvPYzZ5kLK2asfu2xjmUi/2aUOr9p1mvjbhjNXwx81q+vP4ZfTc6s5Na1gc6iuNPMfusmjdHs7RrfJZfXrPcI+mjtXa71o3VNnkjqKSQH1aiF2w/zDZ3eS2RatoYTWY7Wbyd8o77lUR2jSBzG1UmG09UNgld7ruh3Qdx3bDjNbLx9R5Va5hZ6pohzr5bGXOiczAEzdsbjwPR2KzxeROHJ+3y1ZaecKquNKYZC1zSC0kEEbl6OtotG4cu1dTqXMcMb1mxfEQICAgICAgICAgIPoQbtFFru3LGWcLT0UoRSWpkhbh83rns4eW3vXn+dm88uo6j06WCnjXbtKk3qb5br6Zq2nsUL3CKECeoA4vPsg9OBt7T1BXuLTVfP8prDLk8sNPTWyK5zRNfVVA1mOcPYZwx0Jmv71CxSuo3KYnZ48QtLYIB2IMZWRyxuilY17HbHNcMgjsTcx0Kb0wtLbHfZIqfWZC8CWDB9nbu7irtLeVVe1dL30Evp0h0Yo66Q5nxzc/527D+q5+anhfTV075379i1IQTTi3Niq/SWN9WYEnqI3/Jdz/H5fPH4z8KPJpqdoLO3B2rpKjyUsRAQEBAQEBAQEBB9CDt2Wn56pij994b4laslvGs2/DbSNzpbrGhjGtaMBowAvKzMzO5deI1DLO5B+YdL611x0nutWSTr1L2jPAN9X5Lq0jVIhnHS5LbHzVto4xgasDB/aFTt7mVmvTzrKCSpnjkZX1MDWbmRkYPbkbVMW1Gia/Ld28TlYpa1fSPrIhGyrnpgDkmAgF3esq218ImNvaFhihZG97pS0e27GT24WMpV3yrMHpdteRt5twJ6tYFWcHTVk7SLkJrM0t3oS7PNyslA6A4Y+LStXLjqWi3a1VTQ4ml1OJrQ9+PWicHDs3FXv8AH38c/j+WjkV3RVlY3DzngvQQ5ktMqWIgICAgICAgICAgyZvQSnRJgddaUH3/AJKpyp1itP7LGD9cLQK81DqPKocWU8r+hh+CyjsflF0vPufNxlcX/wBW35rra16bF62WpZV2ehnY7IfAw57sFUrxq0rFemvddIrVaZGxV1UGyuAPNsBcQOk43Ka0tbom0Q9aW+2mriEkFxpS38UoaR3FRNLR8HlX8ufcNNLFQv1HVnPP4iBuvjtWVcVpRN4h1LXc6O7UgqqCYSR5wdmC09BHBY2rNZ9piYlAOVSZslzoIAfZhLz1ZK34Opa8nbp8hLyL7dWDc6mjJ7nO/VYcv9ENNoXQFRYtG/NDrPVg/uiVY4k/9ev8teX9Eqirx67l6WHKloFZMBAQEBAQEBAQEBBkzegk2isojulK47ucA8dnzVbk18sVo/ZYwzq8LSXmXUeVZ/lJ+jmnZ8Egfk6m/wAvF+QfBdme2cdLC5OdIooY/oetkDPWJpnOOAc72E+YVfNj390NuO3w17Zo5HpBpbezcpZebgqHn1CA52XHVGSDubhTOTxpEQiK7mduhWcm1K+QOo7jNE072ytDyO8Y+CxjPP4ZfSblHyeWiFn+Llqalw4h/Nt8G7fNYznsmMcOdZJqLRG8aRxz1DhTR8zzMZJLnk65wOk7llaJyVqxr9syhl6uc14uU9dUAtdIcNb7jRuC3VjUaYTO5TvkKB+nroQN1Kwf3FaOX+iGF+l0qgxc7SB4js9UTxZqhWOHG89WrLOqSqWvOXuXpYcuWgVkwEBAQEBAQEBAQEH1u9EurbJjG9rhvBBCwtXcaZ1nU7W/STNqKaKdvsyNDhheWyUml5rLrVtuNs5285BIwfeaQPBYx2yflGaEUs0tOc/sXuj/AKSR8l1t79tjFSOlar7crQ6R1BUanO4Mmsxr9bG7OQVjNYntMTMOjJp3pFJjFZHH+SBnzBWH0qfhPlLyn0z0hmZquuTmDH+7iYw+IblTGKkfB5S4k80lRMZqiR0srvae85J71nEaYsFItbkHpnc9easeziKEdRGXf+wVTlT6iGNlu7lSYo5pvVCK2sgBGtI/JHUP9BdH/G4/LJNvwrcm2q6VhVu1nld2HNlrKUCAgICAgICAgICAN6JbVLJqPBUSmFlaFXET0hpHuGtHtZ1t4+BXE/yOCYt9SPl0OPfceKTjcuYtPzdyhW02vTG5Q4AY+Tn4/wArtvxyupit5UiWcT6R1bEiAgICAgvjkbt3oeh7ah7Q19ZM6bZxb7LT4Bc/k23fTCe06JwMk7t5VftCtdLbmK2veWH9kz1GHpA4969Fw8P0scR8y5ue/lZE5TrHJV3Ss80QICAgICAgICAgICDKMkOUJduy3B9JOyWN2q5pyOta8uOMlZrPy2Y7zW24Wnaq6K50zZYCM/fb7pXnrcW9cv0//f7OnTJFq7hXfLno+6WgpL9TRlxpTzNT0iN3su7nbP5h0K/XDXHXUM6W3PtTaNogICAg27Rb57vdaS20gLp6qVsbR0DeXdgAJ7AVNY3KLTqH6ko6CG3UEFJSjENPG2NgxwAwqvJ4+o84aYsj+ll6bSQOo4HAyvH7QtPsjo7Ss+DxfKfO3TRyMuo1CtaybnH9q7cOfaWk4rJAiBAQEBAQEBAQEBAQMoPWGTUdlQmJWTyZxvkp6yrd7Os2Ju3iNp+LVWza3C5x/cTKY1VNDV0stNVRtkhmYWPY7aHNOwghall+bdO9EanRO6cyQ59BM4mlnO3I36hPvDzC02rpYpbaNLFkICB3eWUF6ckuhL7HTm83WLVuFSzEUZGTBGduD+I8fBba100XttY7toIyRsxnoWUxGvbWpO6ySRVU8ExJkjkcx5PEg4VytYiNR05159y5T3Z2rY1sUBAQEBAQEBAQEBAQEBAJ1Rk7goSuzRK3m26PUUDhiTm9d4/E46x+Kp5J3Z0cUarDs5A3rFm1LpbqO60UlFcKaOenlGHRvGw9fUetQlUekXI5Vxyvk0crGSRZyKeqOq4dQeBu7lhNPw2xk9e0OrNANLKQSPkskxjj2ue2aMt83Z8lj4Sy84b1t5LtK69zTLRxUUZxl1RMM9uG5z4hPCUTeqztDeTO2aOzR1tW70+4s2ske3DIj0tb09ZWcViGu15lOQ9ok5sn1saw6ws2DPJxs4oKl5SaE0ekRnbsZVRh4PW3DT8lZwzuNKPIrrJv8ootzQICAgICAgICAgICAgICDo6O0JuV7o6TGWulBd+UbSsbzqss6V8rRC9AAAABgDcFSdJydJa30SgjYwgSVVRFTM/ncAf7dZZVjcsL21DqtOs1ruOFizfUHP0g+xaz+GVEphvR/Vt7ApQyQcC/VvoF/sT3HEU75aZ/a4NLf7mgd5WdY3WWq9vG1XebuWDch3KdQekWWOsY0F9LICfyu2H5LbitqytyK7r5KsVpSEBAQEBAQEBAQEBAQEBBOeSug5yuq7g4ZELBGw/iO0+Q81ozz6iFnjV3bazBwVZcQjSur9I0xsVuacthk55+Pe3jyHmt1I+yZV8k7y1r/wCUzpzrRNK1LL0RDn6QfYtZ/DKiUw3o/q29gUoZIIXypF0doop2O1Xx1Y1T16rj8ltw+7aV+T6rEpVaqxtwt1NVsxiaMP2cCd48crXManTfW3lES+XSjbcLdU0j8as0ZZt4EjZ54SJ1JaNxMKGex0cjongh7CWuB4Eb1diXMmNTp8UoEBAQEBAQEBAQEBB8KJZNY57gyMFzicBoG0lRM6jc9ERMzqO1k6KVEtkskVM2Bone90k5ec7ScDd+EN81yM/Lib/Z07PG4k1p9/aUWu7Nq8skaGStGdm4hThzefqe05cXh7jpXdsqzdeUVtXk6nOy6v5WscB8l0ZjxxubSfLNtaFG7MQHQVWldl7ohz9IPsWs/hlRKYb0f1bewKUMkER5UI9fRlrv3dSx3xHzW3DP3tHIj7HjybXRr7BLBO/Hobzkn3TtHzUZ4is7ONM2rp0pNIJjJmOBgZnc7Ot5Lmzyp36h0o40a9yrfS2kc28VVZHC5tPUyc4079VxA1h/VldPi8iuWuvlyeVgtjvuepcRWlUQEBAQEBAQEBAQfDs4jvQblHbKuseGxQuAO+R4w1o6Vpy8jHjruZb8XHyZZ1EJfabTBbmZb68xGHSOG3u6Fxs/Ivln307PH41MPXboHYq/azPrto3e6/RlI6SN4E72lsQ47QQT3f63q1w8U3yb/CpzcsUxTX5lyOTxg/8A0WcbGUz3DxaPmuzl/S5HG/WtWhPrPCqyvy21CHP0g+xaz+GVEphvR/Vt7ApQyQRnlHbraI1Z918R/wC40fNZ4v1tPI/7attGrn9HVcjHu1YKlojkJ3DBy0+PxWfLxzkxTEdtPEyxjyx5dJoCOG0dI3FcH29BE79vj2NkYWSNDmOGC0qYmYn0iYiY1KLXbR18eZreHObvMXEdnSOpdXj86JjxyOTyeBNfux9fhwXsfG7VlY9h6HNIPmuhFomNx7/hzprMTqY1/LFSCIEBAQEBAQNvBB39FKGKeWSplaH80QGA7s9OPBc/n5rUiKx8ujwMNbzNrfCV965EenY/Y6OgJ6glp3SS4QNDaK21dRI4bHNgcWN78bVc4/F8/d59KfI5f041SNyitRar7VSumqLZcZJHb3Gmf4bl16RjpXxr6ce/1b28rb/pJOT+1V1NdKmWqoamEej6redic3OXA8R1LDLaJjUNvGrMW3MJ/ThzZhrMeBu9krQuN5QhoX1pdZ6trWlxMZwBvKhLdj9hvYEGSlDiaaU0lXoxXwQxukkdGCxjBkkhwO7uWVJ1bbXmjdJhU30BeD/wmu/6Dv0Vvzr3tR+nafh1rTHpBQkMktVfJANzTC7LewqnyOPiyRuPUrnH5ObFMRaNwkmrI1rTJG+MkZDZGFp8CuRek0nUuxS8XjcPm3fnasWTXr6OKup3wztDs+y472npC2YstsVvKrXlxVy18bK/laY5HMO9ri09xXooncbectGp0xUsRAQEBAQEBB0bJczbZ3a7S+GTGuBvHWFV5PH+tWNdwtcbkzhtP4lKoLzQTFrWVLddzg0McCCSTgLlTxM0etOtHMwz8plbbMyLElTh8g3N4NK3YsEV9ywyZpt6jp18dastD7gJpBhSGxAQEBAQMbcoA2KNBhB41VJDVx6k7NYcDxHYsbUi0allW01ncIvdLe+3RSVDyDTMBc6T3R1qjbj3i2oja3HIprdp0ity0jpo4nx0TuemOzWxhrVYw8G9p3f1Ctm5+Osap7lEskkknJJySuw4wgICAgICAgICDKOR0MscsYBfG8PaDuyDkfBJ9nXte1puNPdaGKspHh0cjc4ztaeIPWFRtE1nUunS0WjcN0blDIQEHxzXH2TjtQeZl1TiQavXwRL0BHTnKD6iGLXBxODnCDJAQEBBEuUW7RUVjkotdpqav1Gs4hnE+HmtmKJm22jPaIrr8qnVtREBAQEBAQEBAQEBEtq33Cst03O0FVLA/iWO2HtG496iaxPaa2tHSZ2flGmjxFeacSDdz9OMHvafke5abYY+FinJn/cm9rvVvusevQVUcvS3OHDtadoWiazXtZretupdFQyEHwgEYIGOtB4Ohcw5gdgcQiXk+Vz3BspLGcQFI22amqNTGOpYjJSgQcq86Q2yzNJrqprX8Im7XnuCmtbW6YXyVp2gV65Qa+qzFbIxRwnZzjiHSn5N8+0KxXDEdq1+RM9IfPNLUTOmnkfJK45L3nJK2xEQrzMz7lgpQICAgICAgICAgICAgIMo5HxSB8T3seNoczYR2FEx6TDR7TK/Mc2EwG5RDfrbHAfn3eKrZYxVjdp1/wA/C1htmvOqxv8A5+U8p7/TS6nORzQEjLtfB1T0bCVR/wBTSZ06H0L626rHNc0OaQQdoI4rfExPuGr3vUslKGEkbZBhw70S0qn/AATTM6TDOnisbXisblNazadQ0m6QBpOvA9wHFpAPgVW/1dd9em6eNbXqUM0n0rvzy6JkP0fTnYHRnWLh1v4dyv4ZxX6lz885q+pjUIW9zpHl8jy97t7nEknvKtqcviAiBAQEBAQEBAQEBAQEBAQd3R2zMrGelVWTFnDGe8RvJXP5fKnH9lO3R4fFjJ99+vwlUbGRtbHG0Na3cGjAXJtM2ncuvWIrGtafZJI4mF8r2saN5c4AeaRWbeogtaKxuZSuxQPgo8yPDg86zQ12QB2roYKWpXVlHLet7bq2K+4Uduh52uqYoGdMjsZ7Bx7FYiJnppm0V7llQ1tLXwCeiqYp4nbnRuBCiYmOyLRbqXN0pZEKJtTPUxwMgyTzjsB2ceexaM2G2TXj8N2LLXHvyRmmqYKmMPp5o5W9LHZ8VQtS1J1aNLtMlLxus7ejg1zS1wBad4IzlRG4ncJmIn1KJaR2mKj1aimGrG52q5nunpXX4XJnL9lu3H53GjF99enDV9QEQICAgICAgICAgICAgICDtW2/mio205gD9TOq7OOvaqGfhfVvNtuhx+dOGnhphU6R1031WpAPwjJ8SsqcDDXv2wvz81uvTlzTSTu155HyO4Fzs4VulK0j7Y1/Cpe83/VO/wCWzQXW4W+Pm6KuqII/ca71R2DcO5JrE9wRaY6lr1NRPVymaqmkmkO90jy4+fwUxERHpEzv2zpKypoZudop5IJDvdG7Ge3pSaxPaYtMT6ZV1xrbg9rq2rlnLd3OOyB2DckViOibWt3LWY5zHh0ZLHDc4HBHgkxExqUR6ncdunT364wYHPiRo4SNyqt+Fgt1GlqnNz0+d/yXO91FwgbC+NjGh2sdUnaVOHiUxW8oM/Lvmr4y5itKggICAgICAg//2Q==');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  overflow: none;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  overflow: hidden;
}

main .topper {
  width: 100%;
  height: 50px;
  background: linear-gradient(15deg, #024a74 0%, #08081e 100%);
  padding: 10px;
  position: sticky;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

main .topper .icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #0e0b43 url('https://cdn4.vectorstock.com/i/thumb-large/61/53/dronacharya-cartoon-character-vector-38356153.jpg');
  background-size: cover;
  margin-left: 15px;
}

main .topper .name {
  color: #fff;
  font-weight: bolder;
  margin-left: 15px;
  font-size: 18px;
  letter-spacing: 2px;
}



main .bottom {
  width: 100%;
  height: 64px;
  background: #595656;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 10px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

}

main .bottom #input {
  width: 95%;
  height: auto;
  margin-top: 10px;
  background: grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  
}

main .bottom #input input {
  width: 90%;
  padding: 7px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
   border-radius: 4px;
}

main .bottom #input input::placeholder {
  color: #e6e6e6;
}

main .bottom #input button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  transition: 0.2s;
  outline: none;
  border: none;
  background: transparent;
}

main .bottom #input button:active {
  transform: scale(0.96);
  background: #0b1667;
  opacity: 0.4;
}



main .msgs_cont {
  width: 100%;
  height: calc(100vh - 155px);
  overflow: auto;
  padding: 10px;
  padding-bottom: 15px;
  scroll-behavior: smooth;
}

main .msgs_cont ul {
  width: 100%;
  padding: 5px;
}

main .msgs_cont li {
  padding: 10px;
  max-width: 70%;
  margin: 10px 0;
  background: linear-gradient(15deg, #13547a 0%, #1d0e42 100%);
  color: #fff;
  list-style-type: none;
  border-radius: 10px;
  color: #f2f2f2;
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
}

main .msgs_cont .schat {
  float: right;
  clear: both;
  margin-bottom: 5px;
  border-bottom-right-radius: 20px;
}

main .msgs_cont .rchat {
  float: left;
  clear: both;
  margin-bottom: 5px;
  background: linear-gradient(to top right, #210661, #0e9271);
  padding-left: 12px;
  border-bottom-left-radius: 20px;
}

.typing-animation {
  display: inline-block;
}

.dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #cccccc;
  border-radius: 50%;
  margin-right: 5px;
  opacity: 0;
  animation: typing-dot 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

.Sendcolor{
  color: #13d2a3;

  font-family: 'Jazz LET, fantasy';
  font-weight: 1000
}


@keyframes typing-dot {
  0%, 20% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-7px);
  }

  80%, 100% {
    opacity: 0;
    transform: translateY(0);
  }
}
/* Normal styles for screens larger than 600 pixels */

